<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stakeholder.title %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'All Stakeholders', stakeholders_path %>
